@font-face {
  font-family: 'Shabnam';
  src: url('/src/assets/font/Shabnam.woff2') format('woff');
}

body {
  background-color: #121212;
}

a {
  text-decoration: none;
}

.flickity-button-icon {
  color: white;
  opacity: 0;
  transition: 0.3s all;
}
.list-container:hover .flickity-button-icon {
  opacity: 1;
  background-color: transparent;
}

.flickity-button,
.flickity-button:hover {
  background-color: transparent;
}

button[disabled='disabled'],
button:disabled {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.flickity-prev-next-button {
    top: 38%;
}
